<template>
  <div
    class="row col-12 router colors"
    style="padding-left: 0; padding-right: 0; height: 30px"
    @click="departmentClicked()"
  >
    <table
      class="table table-hover colors"
      style="table-layout: fixed; margin-bottom: 0px"
    >
      <tbody>
        <tr>
          <!--tablet mobile-->
          <td style="width: 5%">
            <b>{{ unit.depNumber }}</b>
          </td>
          <td class="mobile">{{ unit.type }}</td>
          <td
            class="mobile"
            style="text-align: center; font-size: 12px; width: 5%"
          >
            {{ unit.bedrooms }}
          </td>
          <td
            class="mobile"
            style="text-align: center; font-size: 12px; width: 5%"
          >
            {{ unit.closets }}
          </td>
          <td
            class="mobile"
            style="text-align: center; font-size: 12px; width: 5%"
          >
            {{ unit.bathrooms }}
          </td>
          <td
            class="mobile"
            style="text-align: center; font-size: 12px; width: 5%"
          >
            {{ unit.floor }}
          </td>
          <td class="mobile" style="width: 7%">{{ unit.aream2total }}</td>
          <td class='mobile' style="font-size: 14px">
            {{ formatPrice(unit.listPrice) }}
          </td>
          <td class="price" style="text-align: center; font-size: 14px">
            {{ formatPrice(unit.cashPrice) }}
          </td>
          <td
          class='mobile-width'
            v-bind:style="{
              backgroundColor: getStatus[1],
              color: 'white',
              fontSize: '12px',
              textAlign: 'center',
              height: '25px',
              display: 'flex',
              alignItems: 'center',
              justifyContent: 'center',
              height: '30px',
            }"
          >
            <span class="status">{{ unit.status.name }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  props: ["unit", "currentUser", "parking"],
  data() {
    return {};
  },
  methods: {
    departmentClicked() {
      console.log(this.unit);
      this.$eventHub.$emit("show-detailTable-detail-tower-modal", this.unit);
    },
    formatPrice(x) {

      if(x == 0) return '-';
      return new Intl.NumberFormat("en-US", {
        style: "currency",
        currency: "MXN",
      }).format(x);
    },
    toPrice(x) {
      if (x === null) {
        return;
      }
      let r = Math.round(x.toFixed(2));

      let price = r.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,");
      return price;
    },
  },
  computed: {
    getFinalPrice() {
      let price = this.unit.finalPrice;
      if (this.unit.parkingPrice) {
        price += this.unit.parkingPrice;
      }
      return this.toPrice(price);
    },
    getStatus() {
      let status = [];
      switch (this.unit.statusId) {
        case 1:
          status[0] = "DISPONIBLE";
          status[1] = "#98DA6C";
          break;
        case 2:
          status[0] = "VENDIDO";
          status[1] = "#EA8691";
          break;
        case 3:
          status[0] = "APARTADO";
          status[1] = "#FFD599";
          break;
        case 4:
          status[0] = "BLOQUEADO";
          status[1] = "#f5e02a";
          break;
      }

      return status;
    },
  },
};
</script>

<style lang="scss">
.table td,
.table th {
  padding: 0;
  border: none;
}

.router:hover {
  text-decoration: none !important;
}

.table-detail {
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

tr td {
  text-align: center;
  margin: 0 auto;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

table.table.table-hover.colors tbody tr td {
  color: rgb(28, 99, 138);
  vertical-align: middle;
}

table.table.table-hover.colors {
  transition: 0.2s;
}

table.table.table-hover.colors:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

@media screen and (max-width: 512px) {
  .mobile-width {
    width: 30%;
    display: revert!important;
  }
}

@media screen and (max-width: 867px) {
  .title-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .tablet {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .xs-mobile {
    display: none;
  }

  .status,
  .price {
    font-size: 10px;
  }
}
</style>
