<template>
  <div @click="selectTower()" class='card card-hover'>
    <router-link to="/detail" class="router">
      <div
        class="m-b-30 m-t-0 text-center"
        style="padding:40px 0;color:#1d638a;border-bottom: 3px solid #fd157f;"
      ><img width='90%' :src='getHeader(cluster.name)'/></div>
      <div class="card-upper">
        <div class="image-card"></div>
        <div class="info-card">
          <div class="row">
            <div class="col-12" style="padding: 0px 25px;">
              <table class="table development">
                <tbody class="colors-main">
                  <tr>
                    <td>DISPONIBLE</td>
                    <td style="color:#fd157f">
                      <b>{{ cluster.status[1] ? cluster.status[1] : '0' }}</b>
                    </td>
                  </tr>
                  <tr>
                    <td>VENDIDO</td>
                    <td style="color:#fd157f">
                      <b>{{ cluster.status[2] ? cluster.status[2] : '0' }}</b>
                    </td>
                  </tr>
                  <tr>
                    <td>RESERVADO</td>
                    <td style="color:#fd157f">
                      <b>{{ cluster.status[3] ? cluster.status[3] : '0' }}</b>
                    </td>
                  </tr>
                  <tr>
                    <td>PENDIENTE</td>
                    <td style="color:#fd157f">
                      <b>{{ cluster.status[4] ? cluster.status[4] : '0' }}</b>
                    </td>
                  </tr>
                  <tr style="height:40px;">
                    <td style="vertical-align:middle;">
                      <b>TOTAL</b>
                    </td>
                    <td style="vertical-align:middle;">
                      <b>{{ cluster.status.total ? cluster.status.total : '0' }}</b>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  mounted: function () {
  },
  props: ["cluster"],
  data() {
    return {
      isActive: true,
    };
  },
  methods: {
    getHeader(type) {
      switch(type) {
        case 'MAR AMARILLO 1471':
        return require('../../assets/header.png');
      }
    },
    selectTower() {
      this.$eventHub.$emit("select-tower", this.cluster.id);
    }
  },
  computed: {
    ...mapGetters({}),
  },
};
</script>

<style lang="scss">

.card {
  width:300px;
  transition: 0.5s;
}

.card-body {
  background: #2b4969;
  margin: 10px;
  color: white;
  cursor: pointer;
}

.table.development {
  margin-top: 20px;
}

.table td {
  padding: 0;
}

.info-card {
  width: 100%;
}

.table-hover tbody tr:hover {
  // color: #758daa;
  // background-color: rgba(0, 0, 0, 0.075);
}

.image-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-upper {
  display: flex;
}

.animate {
  animation: fadeInAnimation 1s forwards;
}

.router {
  color: white;
}

.router:hover {
  text-decoration: none;
  color: white;
}

.tower-card tbody tr td:nth-child(1) {
  text-align: left;
}

.tower-card tbody tr td:nth-child(2) {
  text-align: right;
}

.tower-card tbody tr td {
  padding: 0;
}

.tower-card .col-12 {
  padding: 0 12px 0 12px;
}

.tower-card {
  padding: 0;
  max-width: 350px;
  margin: 20px 50px;
}

.colors-main tr td {
  border: none !important;
  font-size: 14px;
  color:#1d638a;
}

.myProgress {
  height: 25px;
  margin-top: 7px;
  margin-bottom: 7px;
  animation: loadAnimation 1.5s forwards;
}

.m-b-30.m-t-0.text-center {
  background-size: cover;
}

.card-view {
  transition: 0.5s !important;
  padding: 0 !important;
}

.card-view.madeira,
.card-view.oporto,
.card-view.carmelina {
  background-size: cover !important;
  background-position: center !important;
}

.card-view > a:hover {
  color: rgba(255, 255, 255, 0);
  transition: 0.2s;
}

.card-view > a {
  color: rgb(255, 255, 255);
  transition: 0.2s;
}

.tower-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.tower-card {
  transform: scale(1);
  transition: transform 0.2s;
}

.tower-card {
  padding: 0;
  max-width: 350px;
  margin: 20px 50px;
}

.card-hover:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 867px) {
  .card.card-hover {
    max-height: 310px;
  }
}

@keyframes loadAnimation {
  0% {
    width: 0%;
  }

  30% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  40% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(5px);
  }
}
</style>
