<template>
  <div class="edit-unit-wrapper">
    <div class="row">
      <div class="col-0 col-sm-0 col-md-2 col-xl-4"></div>
      <div class="col-12 col-sm-12 col-md-8 col-4 col-m col-xl-4">
        <div class="card" style="margin-top: 116px">
          <div class="card-body">
            <div class="row">
              <h4>EDITAR UNIDAD {{ this.unit.unit }}</h4>
              <div class="col-12" style="display: flex; align-items: center">
                <table class="table table-hover table-modifier medh edit-unit">
                  <thead></thead>
                  <tbody>
                    <tr>
                      <td class="textalign">Precio de Lista</td>
                      <td class="text-right">
                        <input
                          class="form-control"
                          max="99999999"
                          type="number"
                          id="edit-listPrice"
                          v-model="unit.listPrice"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="textalign">Precio de Parking</td>
                      <td class="text-right">
                        <input
                          class="form-control"
                          max="99999999"
                          type="number"
                          id="edit-listPrice"
                          v-model="unit.parkingPrice"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="textalign">Precio Final</td>
                      <td class="text-right">
                        <input
                          class="form-control"
                          max="99999999"
                          type="number"
                          id="edit-finalPrice"
                          v-model="unit.finalPrice"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="textalign">Divisa</td>
                      <td class="text-left">
                        <select id="currency-edit-unit">
                          <option>{{ unit.currency }}</option>
                          <option v-if="unit.currency !== 'MXN'" value="MXN">
                            MXN
                          </option>
                          <option v-if="unit.currency !== 'USD'" value="USD">
                            USD
                          </option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td class="textalign">Descuento</td>
                      <td class="text-right">
                        <input
                          class="form-control"
                          type="number"
                          max="99999999"
                          id="edit-discount"
                          v-model="unit.discount"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="textalign">Nivel</td>
                      <td class="text-right">
                        <input
                          class="form-control"
                          type="number"
                          max="99999999"
                          id="edit-level"
                          v-model="unit.level"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="textalign">Recamaras</td>
                      <td class="text-right">
                        <input
                          class="form-control"
                          type="number"
                          max="99999999"
                          id="edit-bedrooms"
                          v-model="unit.bedrooms"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="textalign">Baños</td>
                      <td class="text-right">
                        <input
                          class="form-control"
                          type="number"
                          max="99999999"
                          id="edit-bathrooms"
                          v-model="unit.bathrooms"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="textalign">Estacionamiento</td>
                      <td class="text-left">
                        <select id="parking-edit">
                          <option>{{ unit.parking }}</option>
                          <option v-if="unit.parking !== 'YES'" value="YES">
                            YES
                          </option>
                          <option v-if="unit.parking !== 'NO'" value="NO">
                            NO
                          </option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td class="textalign">
                        Total Area M
                        <sup>2</sup>
                      </td>
                      <td class="text-right">
                        <input
                          class="form-control"
                          type="number"
                          id="edit-totalM2"
                          v-model="unit.totalM2"
                          step="0.1"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="textalign">
                        Balcon M
                        <sup>2</sup>
                      </td>
                      <td class="text-right">
                        <input
                          class="form-control"
                          type="number"
                          id="edit-balconyM2"
                          v-model="unit.balconyM2"
                          step="0.1"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="textalign">Total Area SQFT</td>
                      <td class="text-right">
                        <input
                          class="form-control"
                          type="number"
                          id="edit-totalSQFT"
                          v-model="unit.totalSQFT"
                          step="0.1"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="textalign">
                        M
                        <sup>2</sup> Interior
                      </td>
                      <td class="text-right">
                        <input
                          class="form-control"
                          type="number"
                          id="edit-buildM2"
                          v-model="unit.buildM2"
                          step="0.1"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td class="textalign">Tipo De Cambio</td>
                      <td class="text-right">
                        <input
                          class="form-control"
                          type="number"
                          id="edit-exchangeRate"
                          v-model="unit.exchangeRate"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div
                style="
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-around;
                "
              >
                <button @click="closeModal()" class="btn waves cancel ripple">
                  Cancelar
                </button>
                <button @click="updateUnit()" class="button waves ripple">
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-0 col-sm-0 col-md-2 col-xl-4"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["unit", "parking"],
  mounted: function () {},
  data() {
    return {};
  },
  methods: {
    updateUnit() {
      // Sets the parking and currency from the dropdown to the updated unit
      let parking = document.getElementById("parking-edit").value;
      let currency = document.getElementById("currency-edit-unit").value;

      if (parking === "NO" && this.parking.length > 0) {
        swal({
          title: "Cajones asignados",
          icon: "error",
          text:
            "Esta unidad tiene cajones asignados. Por favor eliminelos antes de continuar",
          buttons: {
            contine: { text: "Continuar" },
          },
        });
        return;
      }
      this.unit.currency = currency;
      this.unit.parking = parking;
      swal({
        title: "¿Actualizar información de unidad " + this.unit.unit + "?",
        text:
          "Precio De Lista : $" +
          this.unit.listPrice +
          "\n" +
          "Precio de Parking: $" +
          this.unit.parkingPrice +
          "\n" +
          "Precio final : $" +
          this.unit.finalPrice +
          "\n" +
          "Divisa : " +
          this.unit.currency +
          "\n" +
          "Descuento : " +
          this.unit.discount +
          "\n" +
          "Nivel : " +
          this.unit.level +
          "\n" +
          "Recamaras : " +
          this.unit.bedrooms +
          "\n" +
          "Baños : " +
          this.unit.bathrooms +
          "\n" +
          "Estacionamiento :" +
          this.unit.parking +
          "\n" +
          "Área total : " +
          this.unit.totalM2 +
          "\n" +
          "Balcon M2 : " +
          this.unit.balconyM2 +
          "\n" +
          "Area Total SQFT " +
          " : " +
          this.unit.totalSQFT +
          "\n" +
          "M2 interior " +
          " : " +
          this.unit.buildM2 +
          "\n" +
          "Tipo De Cambio : " +
          this.unit.exchangeRate,
        icon: "info",
        buttons: {
          cancel: { text: "Cancelar", visible: true },
          continue: { text: "Aceptar", visible: true, closeModal: true },
        },
      }).then((res) => {
        if (res) {
          this.$store
            .dispatch("units/editUnitInfo", this.unit)
            .then((res) => {
              // Fetch me updated info from all units, filters the current unit
              // and updates the unit object in the parent component
              this.$store
                .dispatch("units/fetchUnitsByStage", this.unit.clusterId)
                .then((res) => {
                  let updated = res.data.filter(
                    (unit) => unit.id === this.unit.id
                  );
                  this.$eventHub.$emit("update-unit", updated[0]);
                });

              if (res) {
                swal({
                  title: "¡Unidad actualizada!",
                  text: "¡Esta unidad fue actualizada con éxito!",
                  icon: "success",
                  buttons: {
                    continue: {
                      text: "Aceptar",
                      visible: true,
                      closeModal: true,
                    },
                  },
                }).then((res) => {
                  this.closeModal();
                });
              }
            })
            .catch((err) => {
              const a = document.createElement("p");
              a.innerText = err.code || "Por favor no deje espacios en blanco";
              swal({
                title: "Error",
                icon: "error",
                content: a,
                buttons: {
                  continue: {
                    visible: true,
                  },
                },
              });
              throw new Error("Error at updating unit", err);
            });
        }
      });
    },
    closeModal() {
      this.$eventHub.$emit("modal-bar", false);
      this.$eventHub.$emit("close-modal-edit", false);
    },
  },
};
</script>

<style scoped>
.edit-unit-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #00000091;
  overflow-y: auto;
}

.row {
  height: 100%;
}

.col-m {
  display: flex;
  align-items: center;
}

h4 {
  width: 100%;
  text-align: center;
}

input {
  width: 100%;
}

button.waves.cancel {
  color: #555;
  background-color: #efefef;
  outline: none;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 0;
}

.edit-unit td {
  width: 50px;
}
</style>