<template>
  <div class="filter-container" style="max-width:1200px;">
    <!-- <div
      v-if="show"
      v-bind:class="{ fadeIn : show }"
      class="close-filter"
      @click="removeFilter(),closeSearch()"
    >
      <span>
        <i class="fas fa-times"></i> &nbsp; &nbsp;Remover filtros
      </span>
    </div>
    <div class="filter-wrapper">
      <button
        class="btn waves-white ripple"
        @click="toggleFilters()"
      >{{filtros ? 'Cerrar Filtros' : 'Ver Filtros'}}</button>
    </div> -->
    <div v-if="filtros" class="container-filter">
      <div class="field">
        <div class="control">
          <div class="dropdown-container">
            <button class="btn-buy" @click="setFilterAs('level')" value="level" id="level">Piso</button>
            <span class="dropdown">
              <button class="btn-buy">
                <i class="fas fa-sort-down fa-xs"></i>
              </button>
              <input type="checkbox" class="checkboxes" />
              <ul id="dropdown3">
                <li
                  v-for="(level,index) in levels"
                  :key="index"
                  @click="setSpecialFilter({ id:'level', value: level.level }),hideDropdown(3,level.level)"
                >
                  <p>{{ level.level }}</p>
                </li>
              </ul>
            </span>
          </div>

          <div class="dropdown-container">
            <button class="btn-buy" @click="setFilterAs('level')" value="level" id="level">Recamaras</button>
            <span class="dropdown">
              <button class="btn-buy">
                <i class="fas fa-sort-down fa-xs"></i>
              </button>
              <input type="checkbox" class="checkboxes" />
              <ul id="dropdown3">
                <li
                  v-for="(item,index) in bedrooms"
                  :key="index"
                  @click="setSpecialFilter({ id:'bedrooms', value: item.no }),hideDropdown(6,item.name)"
                >
                  <p>{{ item.name }}</p>
                </li>
              </ul>
            </span>
          </div>

          <div class="dropdown-container">
            <button
              class="btn-buy"
              @click="setFilterAs('finalPrice')"
              value="finalPrice"
              id="finalPrice"
            >Precio Final</button>
            <span class="dropdown">
              <button class="btn-buy">
                <i class="fas fa-sort-down fa-xs"></i>
              </button>
              <input type="checkbox" class="checkboxes" />
              <ul id="dropdown1">
                <li
                  v-for="(item,index) in price"
                  :key="index"
                  @click="setSpecialFilter({ id:'finalPrice', value: item.value }),hideDropdown(0,item.stat)"
                >
                  <p>{{ item.stat }}</p>
                </li>
              </ul>
            </span>
          </div>

          <div class="dropdown-container">
            <button
              class="btn-buy"
              @click="setFilterAs('statusId')"
              value="statusId"
              id="name"
            >Estatus</button>
            <span class="dropdown">
              <button class="btn-buy">
                <i class="fas fa-sort-down fa-xs"></i>
              </button>
              <input type="checkbox" class="checkboxes" />
              <ul id="dropdown3" style="height: 171px;">
                <li
                  v-for="(item, index) in status"
                  :key="index"
                  @click="setSpecialFilter({id:item.id,value:item.value}),hideDropdown(1,item.status)"
                >
                  <p>{{ item.status }}</p>
                </li>
              </ul>
            </span>
          </div>

          <div class="dropdown-container">
            <button
              class="btn-buy"
              @click="setFilterAs('listPrice')"
              value="listPrice"
              id="listPrice"
            >Precio de lista</button>
            <span class="dropdown">
              <button class="btn-buy">
                <i class="fas fa-sort-down fa-xs"></i>
              </button>
              <input type="checkbox" class="checkboxes" />
              <ul id="dropdown3" style="height: 250px; overflow-y: scroll;" class="scrollbar-edit">
                <li
                  v-for="(item,index) in price"
                  :key="index"
                  @click="setSpecialFilter({ id:'listPrice', value: item.value }),hideDropdown(2,item.stat)"
                >
                  <p>{{ item.stat }}</p>
                </li>
              </ul>
            </span>
          </div>

          <div class="dropdown-container">
            <button
              class="btn-buy"
              @click="setFilterAs('bathrooms')"
              value="bathrooms"
              id="bathrooms"
            >Baños</button>
            <span class="dropdown">
              <button class="btn-buy">
                <i class="fas fa-sort-down fa-xs"></i>
              </button>
              <input type="checkbox" class="checkboxes" />
              <ul id="dropdown4">
                <li
                  v-for="(bath,index) in bathrooms"
                  :key="index"
                  @click="setSpecialFilter({ id:'bathrooms', value: bath.value }),hideDropdown(4,bath.name)"
                >
                  <p>{{ bath.name }}</p>
                </li>
              </ul>
            </span>
          </div>

          <div class="dropdown-container">
            <button
              class="btn-buy"
              @click="setFilterAs('currency')"
              value="currency"
              id="currency"
            >Divisa</button>
            <span class="dropdown">
              <button class="btn-buy">
                <i class="fas fa-sort-down fa-xs"></i>
              </button>
              <input type="checkbox" class="checkboxes" />
              <ul id="dropdown5">
                <li
                  v-for="(curr,index) in currencies"
                  :key="index"
                  @click="setSpecialFilter({ id:'currency', value: curr.value }),hideDropdown(7,curr.name)"
                >
                  <p>{{ curr.name }}</p>
                </li>
              </ul>
            </span>
          </div>

          <div class="dropdown-container" v-if="$route.name =='Listado de desarrollo'">
            <button
              class="btn-buy"
              @click="setFilterAs('finalPrice')"
              value="parking"
              id="finalPrice"
            >Parking</button>
            <span class="dropdown">
              <button class="btn-buy">
                <i class="fas fa-sort-down fa-xs"></i>
              </button>
              <input type="checkbox" class="checkboxes" />
              <ul id="dropdown1">
                <li
                  v-for="(has,index) in parking"
                  :key="index"
                  @click="setSpecialFilter({ id:'parking', value: has.value }),hideDropdown(5,has.has)"
                >
                  <p>{{ has.has }}</p>
                </li>
              </ul>
            </span>
          </div>
        </div>
      </div>

      <p style="font-size:1.2rem;">
        <span v-if="filters3">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fas fa-chevron-right"></i>
          &nbsp;&nbsp;&nbsp;&nbsp; Piso {{filters3}}
        </span>
        <span v-if="filters6">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fas fa-chevron-right"></i>
          &nbsp;&nbsp;&nbsp;&nbsp; Recamaras {{filters6}}
        </span>
        <span v-if="filters0">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fas fa-chevron-right"></i>
          &nbsp;&nbsp;&nbsp;&nbsp;Precio Final {{filters0}}
        </span>
        <span v-if="filters1">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fas fa-chevron-right"></i>
          &nbsp;&nbsp;&nbsp;&nbsp; Estatus {{filters1}}
        </span>
        <span v-if="filters2">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fas fa-chevron-right"></i>
          &nbsp;&nbsp;&nbsp;&nbsp; Precio de Lista {{filters2}}
        </span>
        <span v-if="filters4">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fas fa-chevron-right"></i>
          &nbsp;&nbsp;&nbsp;&nbsp; Baños {{filters4}}
        </span>
        <span v-if="filters7">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fas fa-chevron-right"></i>
          &nbsp;&nbsp;&nbsp;&nbsp; Divisa {{filters7}}
        </span>
        <span v-if="filters5">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fas fa-chevron-right"></i>
          &nbsp;&nbsp;&nbsp;&nbsp; Parking {{filters5}}
        </span>
      </p>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { mapGetters } from "vuex";

export default {
  mounted() {},
  data: function() {
    return {
      list: [
        { level: "M1D", value: "M1D" },
        { level: "M1I", value: "M1I" },
        { level: "M2D", value: "M2D" },
        { level: "M2I", value: "M2I" },
        { level: "M3D", value: "M3D" },
        { level: "M3I", value: "M3I" },
        { level: "M4D", value: "M4D" },
        { level: "M4I", value: "M4I" }
      ],
      currencies: [
        { name: "Pesos", value: "MXN" },
        { name: "Dólares", value: "USD" }
      ],
      bedrooms: [
        { name: "N/A", no: 0 },
        { name: "1", no: 1 },
        { name: "2", no: 2 },
        { name: "3 +", no: 3 }
      ],
      bathrooms: [
        { name: "N/A", value: 0 },
        { name: "1", value: 1 },
        { name: "2", value: 2 },
        { name: "3 +", value: 3 }
      ],
      status: [
        { status: "DISPONIBLE", value: 1, id: "status" },
        { status: "VENDIDO", value: 2, id: "status" },
        { status: "RESERVADO", value: 3, id: "status" },
        { status: "PENDIENTE", value: 4, id: "status" }
      ],
      price: [
        { stat: "100,000 o menos", value: [0, 100000] },
        { stat: "100,001 - 500,000", value: [100001, 500000] },
        { stat: "500,001 - 1,000,000", value: [500001, 1000000] },
        { stat: "1,000,001 - 2,000,000", value: [1000001, 2000000] },
        { stat: "2,000,001 - 3,000,000 ", value: [2000001, 3000000] },
        { stat: "3,000,001 o más", value: [3000001, 10000000] }
      ],
      levels: [
        { level: 1 },
        { level: 2 },
        { level: 3 },
        { level: 4 },
        { level: 5 },
        { level: 6 },
        { level: 7 },
        { level: 8 }
      ],
      parking: [
        { has: "NO", value: "NO" },
        { has: "SI", value: "YES" },
        { has: "N/A", value: "N/A" }
      ],
      show: false,
      filters0: null,
      filters1: null,
      filters2: null,
      filters3: null,
      filters4: null,
      filters5: null,
      filters6: null,
      filters7: null,
      filtros: false
    };
  },
  methods: {
    toggleFilters() {
      this.filtros = !this.filtros;
    },
    ...mapActions({
      setFilterAs: "units/setFilter",
      setSpecialFilter: "units/setSpecialFilter",
      removeFilter: "units/removeSpecialFilter",
      setPriceFilter: "units/setPriceFilter"
    }),

    hideDropdown(i, x) {
      switch (i) {
        case 0:
          this.filters0 = x;
          break;
        case 1:
          this.filters1 = x;
          break;
        case 2:
          this.filters2 = x;
          break;
        case 3:
          this.filters3 = x;
          break;
        case 4:
          this.filters4 = x;
          break;
        case 5:
          this.filters5 = x;
          break;
        case 6:
          this.filters6 = x;
          break;
        case 7:
          this.filters7 = x;
      }
      this.show = true;
      var inputs = document.querySelectorAll(".checkboxes");
      for (var i = 0; i < inputs.length; i++) {
        inputs[i].checked = false;
      }
    },
    closeSearch() {
      this.show = false;
      this.filters0 = null;
      this.filters1 = null;
      this.filters2 = null;
      this.filters3 = null;
      this.filters4 = null;
      this.filters5 = null;
      this.filters6 = null;
      this.filters7 = null;
    }
  }
};
</script>

<style>
.filter-container {
  max-width: 1200px;
  margin: 0 auto;
}

.dropdown-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.dropdown > a,
.dropdown > button {
  font-size: 14px;
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 0 4px 4px 0;
  display: inline-block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: #243b53;
}

.dropdown input[type="checkbox"] {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  opacity: 0;
}

.dropdown input[type="checkbox"]:checked {
  position: fixed;
  z-index: +0;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.dropdown ul {
  position: absolute;
  top: 36px;
  border: 1px solid #ccc;
  border-radius: 3px;
  left: 0px;
  list-style: none;
  padding: 4px 0px;
  display: none;
  color: white;
  background: #243b53;
  border: 1px solid #243b53;
  z-index: 2;
}

.dropdown input[type="checkbox"]:checked + ul {
  display: block;
}

.dropdown ul li {
  display: block;
  padding: 10px 20px;
  white-space: nowrap;
  min-width: 100px;
}

.dropdown ul li:hover {
  background-color: #243b53;
  cursor: pointer;
}

.dropdown ul li a {
  text-decoration: none;
  display: block;
  color: white;
}

.dropdown ul li p {
  margin-bottom: 0;
}

.dropdown .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  font-size: 1px;
  padding: 0;
}

.control {
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin: 0;
  flex-wrap: wrap;
}

.close-search {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 7px;
}

.close-search-container {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 32px;
  color: #2c2c2c;
  cursor: pointer;
  z-index: 2;
}

.buy {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.selected {
  font-weight: bolder;
}

.btn-buy {
  border: none;
  height: 36px;
  padding: 0 5px;
  border-radius: 3px 0 0 3px;
  color: white;
  background: #2c4966;
}

.btn-buy,
input .dropdown {
  cursor: pointer !important;
}

.filter-container p {
  color: white;
}

.fa-sort-down {
  color: white;
}

/* Scrollbar */

.scrollbar-edit {
  min-height: 120px;
}

.scrollbar-edit::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scrollbar-edit::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.scrollbar-edit::-webkit-scrollbar-thumb {
  background: #ebeff2;
  border-radius: 10px;
}

/* Handle on hover */
.scrollbar-edit::-webkit-scrollbar-thumb:hover {
  background: #ebeff2;
}

.close-filter {
  background: #243b53;
  color: #fff;
  position: fixed;
  right: 185px;
  z-index: 1;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  top: 200px;
}

.fadeIn {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width:768px) {
  .filter-wrapper {
    text-align: centert;
  }
}
</style>
