<template>
  <div class="list-view" id="listView" @click="preventCloseModal()">
    <div style="height:60px;width:100%;">
      <div class="title">
        <button
          type="button"
          class="btn waves-white ripple"
          id="full_inventory"
          @click="fullTableToExcel()"
        >Descargar Excel</button>
        <h4 style="margin: 4px 0 4px 10px;">INVENTARIO</h4>
        <div class="close-fullview" @click="closePopup()">✕</div>
      </div>
    </div>
    <div class="table-container" id="Inventario_completo">
      <table class="table header full-table" style="margin-bottom:0;height:50px;width:3500px;">
        <tbody>
          <tr style="line-heigh:10px; font-size:10px;">
            <td
              v-for="(u, index) in deps"
              :key="u.id"
              style="vertical-align:middle;font-weight:bold;"
              :class="responsiveTable(index)"
            >
              <span v-html="u.title"></span>
            </td>
          </tr>
        </tbody>
      </table>
      <table
        class="table full-table table-body"
        style="table-layout:fixed;margin-bottom:0;height:50px;width:3500px;"
      >
        <tbody>
          <tr
            style="line-heigh:194px;"
            v-for="(u, index) in allDeps"
            :key="u.id"
            :index="index"
            @click="selectDep(u)"
          >
            <td>{{u.unit}}</td>
            <td>{{u.cluster.name}}</td>
            <td>{{u.level}}</td>
            <td>{{u.bedrooms}}</td>
            <td>{{u.bathrooms}}</td>
            <td>{{u.buildM2}}</td>
            <td>{{u.balconyM2}}</td>
            <td>{{u.totalM2}}</td>
            <td>{{u.totalSQFT}}</td>
            <td>{{u.parking}}</td>
            <td>{{toPrice(u.listPrice)}}</td>
            <td>{{u.discount}}</td>
            <td>{{toPrice(u.finalPrice)}}</td>
            <td>{{u.delivery ? u.delivery : '-'}}</td>
            <td>{{u.exchangeRate}}</td>
            <td>{{u.currency}}</td>
            <td>{{u.status.name}}</td>
            <td
              style="font-size:14px"
            >{{u.customer ? u.customer.lastName ? u.customer.name + ' ' + u.customer.lastName : u.customer.name : '-'}}</td>
            <td style="font-size:14px">{{u.user ? u.user.name : '-'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { mapGetters } from "vuex";
import fullView from "./fullView.vue";
import { log } from "util";
import XLSX from "xlsx";

export default {
  props: ["title"],
  components: {
    fullView
  },
  mounted() {
    // Fetch me all units
    this.$store.dispatch("units/fetchUnitsInfo");

    this.$eventHub.$on("updateFullView", update => {
      if (update) {
        // this.$store.dispatch('commissions/getCommissions');
        // this.$store.dispatch("contracts/getContracts");
        // this.$store.dispatch('contracts/allROI')
        // this.$store.dispatch("users/getUsers");
      }
    });
  },
  data() {
    return {
      preventClose: false,
      selectContract: [],
      deps: [
        { title: "UNIDAD" },
        { title: "CLUSTER" },
        { title: "NIVEL" },
        { title: "RECAMARAS" },
        { title: "BAÑOS" },
        { title: "M<sup>2</sup> CONST." },
        { title: "M<sup>2</sup> BALCON" },
        { title: "M<sup>2</sup> TOTAL" },
        { title: "SQFT TOTAL" },
        { title: "ESTACIONAMIENTO" },
        { title: "PRECIO LISTA" },
        { title: "DESCUENTO" },
        { title: "PRECIO FINAL" },
        { title: "FECHA ENTREGA" },
        { title: "TIPO DE CAMBIO" },
        { title: "DIVISA" },
        { title: "ESTATUS" },
        { title: "CLIENTE" },
        { title: "EJECUTIVO" }
      ]
    };
  },
  methods: {
    fullTableToExcel() {
      // var downloadTime = new Date();
      // var day = downloadTime.getDate();
      // day < 10 ? day = "0"+day : day;
      // var month = downloadTime.getMonth()+1;
      // month < 10 ? month = "0" + month : month;
      // var year = downloadTime.getFullYear();
      // var toPrint = document.getElementById('printInventory');
      // const web = XLSX.utils.table_to_book(toPrint, { sheet: 'Fullview' })

      // console.log(web);

      // return XLSX.writeFile(web, 'Inventario_completo_'+day+'/'+month+'/'+year+'.xlsx');
    },
    toPrice(x) {
      if (x === null) {
        return;
      }
      let r = Math.round(x.toFixed(2));

      let price = r.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,");
      return price;
    },
    selectDep(dep) {
      let selectedUnit = dep;
      this.$eventHub.$emit("show-detailTable-detail-tower-modal", dep);
    },
    closePopup() {
      this.$eventHub.$emit("close-Full-View-Modal", false);
    },
    preventCloseModal() {
      this.preventClose = true;
    },
    ...mapActions("departments", "detailTable", "contract"),
    responsiveTable(n) {
      return "table" + n;
    },
    getInfo(unitId) {
      var scontract;
      this.contracts.forEach(contract => {
        if (unitId === contract.unitId) {
          scontract = contract;
        }
      });

      return scontract;

      // for(let a = 0 ; a < this.contracts.length; a++){
      //   if(id === this.contracts[a].unitId) {
      //      this.selectContract.push(this.contracts[a])
      //      return this.selectContract
      //   }
      // }
    },
    getCommission(id) {
      let c = [];
      this.commissions.forEach(commission => {
        if (id === commission.unitId) {
          c.push(commission);
          this.executives.forEach(executive => {
            if (commission.userId === executive.id) {
              c.push(executive);
            }
          });
        }
      });
      return c;
    }
  },

  computed: {
    allDeps() {
      const values = Object.values(this.allUnits);
      let deps = values[0].concat(values[1]);
      deps = deps.concat(values[2]);
      return deps;
    },
    ...mapGetters({
      //   departments: "departments/departments",
      // contracts: "contracts/contracts",
      // commissions:"commissions/commissions",
      //   allROI:"contracts/allROI",
      // executives: "users/users",
      allUnits: "units/allUnits"
    })
  }
};
</script>

<style>
.list-view {
  position: fixed;
  top: 69px;
  left: 0;
  bottom: 0;
  background: #14304a;
  width: 100%;
  overflow-x: scroll;
  overflow-y: auto;
  z-index: 1;
}

.full-table {
  /* table-layout: fixed; */
  overflow-x: scroll;
}

.table-container {
  /* width: 3500px; */
  margin: 0 auto;
}

.title {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #0f2233;
  z-index: 1;
  top: 75px;
  background: #14304a;
}

.close-fullview {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  color: white;
  cursor: pointer;
  font-size: 2rem;
}

.header {
  table-layout: fixed;
}

.tableexport-caption {
  display: flex;
}

.tableexport-caption button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 6px;
  border-radius: 5px;
  margin: 5px;
}

.table22 {
  width: 250px;
}

h4 {
  color: white;
  padding-bottom: 7px;
  padding-top: 7px;
}

.table-body {
  cursor: pointer;
}

.full-table tbody tr:nth-child(even) {
  background: #1b3d5d;
}

.table-body tbody tr td:nth-child(18) {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 195px;
  display: block;
  overflow: hidden;
}

@media screen and (max-width: 512px) {
  .title h4 {
    display: none;
  }
}
</style>
