<template>
  <nav class="navbar navbar-expand-lg navbar-custom" style="z-index: 3;background: white;box-shadow: 1px 1px 1px #00000038;">
    <div :class="{ overlay: openModal }"></div>
    <router-link v-if="getUrl.url !== '/'" :to="getUrl.url">
      <img
        v-if="getUrl.img && getUrl.url !== '/'"
        :style="{
          width: getUrl.width,
          height: getUrl.height,
          borderRadius: getUrl.border,
        }"
        :src="getUrl.img"
      />
      <a href="/" v-else>
        <img width="175px" :src="getLogo()" />
      </a>
    </router-link>
    <a v-else class="navbar-brand" href="/">
      <img src="../../assets/logo.png" width="80px" />
    </a>
    <div class="mobile-container-flex" style="display: flex">
      <ul class="navbar-nav ml-auto icons-bar">
        <div class="fullscreen-bar hide" @click="goFullscreen">
          <i class="fas fa-compress"></i>
        </div>
        <div
          class="image-bar"
          data-toggle="collapse"
          href="#notifications"
          data-target="#menu"
          style="border-radius: 50px"
        >
          <img
            style="width: 24px; border-radius: 50px"
            src="../../assets/avatar.png"
          />
        </div>
        <span
          class="main-menu collapse"
          id="notifications"
          style="position: fixed; top: 60px; right: 120px"
        >
          <a href="#">Notificaciones</a>
          <li class="dropdown-divider"></li>
        </span>
        <span
          class="main-menu collapse"
          style="position: fixed; top: 60px; right: 16px"
          id="menu"
        >
          <p style="color: white">
            <b>{{ sayHi(currentUser.firstName) }}</b>
          </p>
          <!-- <li class="dropdown-divider"></li> -->
          <!-- <p
            @click="openConfig()"
            style="margin: 0;color: white;font-weight: bolder;cursor:pointer;"
          >Configuración</p> -->
          <router-link v-if="isAdmin" to="/admin/update"
            >Actualizaciones</router-link
          >
          <li class="dropdown-divider"></li>
          <router-link v-if="isAdmin" to="/admin/users">Ejecutivos</router-link>
          <li class="dropdown-divider" v-if="isAdmin"></li>
          <router-link v-if="isAdmin" to="/admin/leads">Leads</router-link>
          <li class="dropdown-divider" v-if="isAdmin"></li>
          <router-link v-if="isAdmin" to="/admin/customers"
            >Clientes</router-link
          >
          <li v-if="isAdmin" class="dropdown-divider"></li>
          <a href="/logout">
            <b>Cerrar sesión</b>
          </a>
        </span>
      </ul>
    </div>
  </nav>
</template>
<script>
import $ from "jquery";
import "../../../node_modules/bootstrap/js/dist/collapse";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "appnav",
  mounted: function () {
    this.$eventHub.$on("modal-bar", (state) => {
      this.openModal = state;
    });
  },
  data() {
    return {
      openModal: false,
      selectedFields: [],
      searchActive: false,
      isFullscreen: false,
    };
  },
  computed: {
    ...mapGetters({
      isAdmin: "users/isAdmin",
      currentUser: "users/currentUser",
      clusters: "others/clusters",
    }),
    getUrl() {
      return {
        url: "/",
        img: require(`../../assets/logo.png`),
        width: "175px",
      };
    },
  },
  methods: {
    getLogo() {
      return require(`../../assets/logo.png`);
    },
    ...mapActions({
      setView: "units/setListType",
    }),
    // openConfig() {
    //   this.$eventHub.$emit("open_user_configuration");
    // },
    sayHi(name) {
      if (name) {
        let first = name.split(" ");
        return `Bienvenido, ${first[0]}`;
      }
    },
    triggerAddButton() {
      this.$eventHub.$emit("add-button-clicked");
    },
    setViewType() {
      this.$store.commit("viewType");
    },
    goFullscreen: function () {
      this.isFullscreen = !this.isFullscreen;
      if (this.isFullscreen == false) {
        if (document.exitFullscreen) {
          document.exitFullscreen();
        } else if (document.mozCancelFullScreen) {
          /* Firefox */
          document.mozCancelFullScreen();
        } else if (document.webkitExitFullscreen) {
          /* Chrome, Safari and Opera */
          document.webkitExitFullscreen();
        } else if (document.msExitFullscreen) {
          /* IE/Edge */
          document.msExitFullscreen();
        }
      }
      if (this.isFullscreen == true) {
        var elem = document.documentElement;
        if (elem.requestFullscreen) {
          elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) {
          /* Firefox */
          elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) {
          /* Chrome, Safari and Opera */
          elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) {
          /* IE/Edge */
          elem.msRequestFullscreen();
        }
      }
    },
  },
};
</script>

<style>
.overlay {
  width: 100%;
  height: 75px;
  position: fixed;
  background: #00000091;
  left: 0;
  top: 0;
}

.icons-bar > div {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 2px solid #1c638a;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.far {
  color: #ffb5d7;
}

.navbar-custom {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  height: 75px;
}

.main-menu {
  background: #76777b;
  border-radius: 3px;
  text-align: left;
  width: 160px;
  padding: 10px;
}

.main-menu a {
  color: white;
}

.main-menu a:hover {
  color: white;
  text-decoration: none;
}

.icons-bar {
  flex-direction: row !important;
}

@media (min-width: 992px) {
  .mobile-container-flex {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hide {
    display: none !important;
  }
}
</style>
