<template>
  <div id="app">
    <app-nav></app-nav>
    <router-view></router-view>
  </div>
</template>
<script>

import appNav from "@/views/components/nav.vue";
import '../../node_modules/bootstrap/dist/css/bootstrap.css';
import '../../node_modules/bootstrap-vue/dist/bootstrap-vue.css';

export default {
  components: { appNav },
  mounted: function() {
    this.$store
      .dispatch("others/authenticate")
      .then(() => {
        this.$eventHub.$emit("authenticated");
        this.$store.dispatch("users/getCurrentUser");
        this.$store.dispatch("others/getStatus");
        this.$store.dispatch("others/getClusters");
      })
      .catch(err => {});
  }
};
</script>

<style>

.filter {
  padding-top: 100px;
  text-align: center;
}


#app {
  width:100%;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(rgb(255 255 255 / 55%),rgb(255 255 255 / 52%)),
    url("../assets/mar-amarillo.jpg");
  background-size: cover;
  height:100%;
}

</style>
