<template>
  <div>
    <div
      class="bar"
      style="width: 100%; height: 70px; position: relative"
    ></div>
    <div
      class="main"
      style="overflow-x: hidden; position: relative; height: 92vh"
    >
      <div
        class="wrapper-page row cards-container"
        style="position: relative"
        id="wrapper-page"
      >
        <development
          v-for="(cluster, index) in clusters"
          :cluster="cluster"
          :key="index"
        ></development>
      </div>
    </div>
  </div>
</template>

<script>
import development from "./components/development.vue";
import { mapGetters } from "vuex";

export default {
  mounted: function () {
    var isAuthenticated = this.$store.state.others.isAuthenticated;
    if (isAuthenticated) {
      this.$store.dispatch("units/fetchUnitsInfo");
    } else {
      this.$eventHub.$on("authenticated", () => {
        this.$store.dispatch("units/fetchUnitsInfo");
      });
    }
  },
  components: {
    development,
  },

  data() {
    return {};
  },
  methods: {},
  computed: {
    ...mapGetters({
      clusters: "others/clusters",
    }),
  },
};
</script>

<style lang="scss">
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

html,
body {
  height: 100%;
}

.slide-out-left {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper-page {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1500px;
}

.pages {
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.page-link {
  background: none !important;
  border: 1px solid #ffffff;
  color: white;
}

.page-link:hover {
  z-index: 2;
  text-decoration: none;
  color: #e6ffe4;
  cursor: pointer;
}

.page-link:hover {
  z-index: 2;
  text-decoration: none;
  color: #e6ffe4;
}

.pagination-lg .page-link {
  padding: 0.7rem !important;
}

.progress-bar {
  background: #1b2025 !important;
}

.progress {
  background: #50657a !important;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  40% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(5px);
  }
}

@media (max-width: 576px) {
  .wrapper-page.row {
    overflow-y: auto;
  }
}

@media (max-width: 934px) {
  .wrapper-page {
    height: 100%;
  }
}
</style>
