<template>
  <div class="main-tables-container animate" id="main-tables-container">
    <div class="loading" v-if="loading">
      <div>
        <svg
          width="108px"
          height="108px"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 100"
          preserveAspectRatio="xMidYMid"
          class="lds-rolling"
          style="background: none"
        >
          <circle
            cx="50"
            cy="50"
            fill="none"
            stroke="#FD157F"
            stroke-width="10"
            r="35"
            stroke-dasharray="164.93361431346415 56.97787143782138"
            transform="rotate(113.895 50 50)"
          >
            <animateTransform
              attributeName="transform"
              type="rotate"
              calcMode="linear"
              values="0 50 50;360 50 50"
              keyTimes="0;1"
              dur="1s"
              begin="0s"
              repeatCount="indefinite"
            />
          </circle>
        </svg>
      </div>
    </div>
    <div class="col-11" style="padding-bottom: 20px">
      <div class="title-header">
        <img
          src="../assets/header.png"
          class="img-header"
          style="border-radius: 0 !important; width: 500px"
        />
        <div class="buttons-header" style="z-index: 0">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
              type="button"
              class="btn waves-white ripple"
              @click="showList()"
              v-if="currentUser.type == 'A'"
            >
              Ver inventario
            </button>
          </div>
        </div>
      </div>
      <filter-table />
      <div
        class="card-body"
        id="printMe"
        style="max-width: 1200px; margin: 0 auto"
        ref="table"
      >
        <div class="row">
          <div class="col-12">
            <div>
              <table
                class="table table-hover"
                style="table-layout: fixed; margin-bottom: 0; margin-top: 0"
              >
                <tbody>
                  <tr>
                    <td class="header-t" style="width: 5%">
                      <b>UNIDAD</b>
                    </td>
                    <td class="header-t mobile">
                      <b>MODELO</b>
                    </td>
                    <td
                      class="header-t mobile"
                      style="width: 5%"
                      title="RECÁMARAS"
                    >
                      <img src="../assets/bed.png" width="20px" />
                    </td>
                    <td
                      class="header-t mobile"
                      style="width: 5%"
                      title="CLÓSETS"
                    >
                      <img src="../assets/closet.png" width="20px" />
                    </td>
                    <td class="header-t mobile" style="width: 5%" title="BAÑOS">
                      <img src="../assets/bathroom.png" width="20px" />
                    </td>
                    <td class="header-t mobile" style="width: 5%" title="PISO">
                      <img src="../assets/level.png" width="20px" />
                    </td>
                    <!-- <td class="header-t mobile">
                      <b>DIMENSION</b>
                    </td> -->
                    <td class="header-t mobile" style="width: 7%">
                      <b>DIMENSIÓN <br />TOTAL (M <sup>2</sup>)</b>
                    </td>
                    <!-- <td class="header-t">
                      <b>PRECIO
                        <br />M
                        <sup>2</sup></b>
                    </td> -->
                    <td class="mobile header-t">
                      <b
                        >PRECIO DE<br />
                        LISTA</b
                      >
                    </td>
                    <td class="header-t">
                      <b
                        >PRECIO DE<br />
                        CONTADO</b
                      >
                    </td>
                    <td class="header-t mobile-width">
                      <b>ESTATUS</b>
                    </td>
                  </tr>
                </tbody>
              </table>
              <detail-table
                v-for="(e, index) in filterStages"
                :key="index"
                :style="setBackground(index)"
                :unit="e"
                :currentUser="currentUser.type"
              ></detail-table>
            </div>
          </div>
        </div>
      </div>
      <unitDetail></unitDetail>
    </div>
    <div
      v-if="showFullList"
      style="position: fixed; top: 0; right: 0; left: 0; bottom: 0"
    >
      <full-list-view />
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { mapGetters } from "vuex";
import detailTable from "./components/detail-table.vue";
import unitDetail from "./components/unitDetail.vue";
import filterTable from "./components/filterTable.vue";
import swal from "sweetalert";
import fullListView from "./components/fullListView.vue";

export default {
  components: {
    detailTable,
    unitDetail,
    filterTable,
    fullListView,
  },
  mounted: function () {
    setTimeout(() => {
      const selectedACluster = document.getElementsByClassName(
        "table table-hover colors"
      );
      if (selectedACluster.length === 0) document.location.href = "/";
    }, 3000);
    this.$eventHub.$on("select-tower", (cluster) => {
      this.$store.dispatch("units/fetchUnitsByStage", cluster).then((r) => {});
      this.clusterId = cluster;
    });

    this.$eventHub.$on("updateDataDetail", () => {
      console.log("starting");
      this.$store.dispatch("others/setPlusButton", true);
      this.$store.dispatch("units/listenEvents");
    });

    var isAuthenticated = this.$store.state.others.isAuthenticated;

    if (isAuthenticated) {
      this.$store.dispatch("others/setPlusButton", true);
      this.$store.dispatch("units/listenEvents");

      // listen to authenticated event
    } else {
      let _ = this;
      this.$eventHub.$on("authenticated", function () {
        _.$store.dispatch("others/setPlusButton", true);
        _.$store.dispatch("units/listenEvents");
      });
    }

    this.$eventHub.$on("close-Full-View-Modal", (close) => {
      this.showFullList = close;
    });
  },

  data() {
    return {
      openReference: false,
      detailTable: 3,
      isAnimated: true,
      sortedUnits: [],
      clusterId: undefined,
      filteredUnits: [],
      loading: true,
      showFullList: false,
      priceFilter: null,
      listFilter: null,
      statusFilter: null,
      parkingFilter: null,
      levelFilter: null,
      bedroomsFilter: null,
      bathroomsFilter: null,
      currencyFilter: null,
    };
  },

  methods: {
    ...mapActions("units", ["nextPage", "prevPage"]),
    showList() {
      this.showFullList = true;
    },
    setBackground(i) {
      if (i % 2 == 0) return { backgroundColor: "#f9f9f9" };
    },
    pushFilter(filter, value) {
      // Check if the filter exits
      this.selectedFilters[filter] = value;
    },
    getUnitId(idunit) {
      let c = null;
      for (let i = 0; i < this.contracts.length; i++) {
        if (this.contracts[i].unitId != null) {
          if (this.contracts[i].unitId == idunit) {
            c = this.contracts[i];
          }
        }
      }
      return c;
    },

    closeReferences(x) {
      this.openReference = x;
    },
  },

  computed: {
    // UnitsByStage gets the unit of the current cluster
    ...mapGetters({
      units: "units/units",
      searchQuery: "units/query",
      filteredValue: "units/filterValue",
      specialSort: "units/specialSort",
      isAdmin: "users/isAdmin",
      unitsByStage: "units/unitsByStage",
      currentUser: "users/currentUser",
      unitsByExec: "units/unitsByExec",
    }),

    currentAvailability() {
      var cData = {};
      var available = 0;
      var reserved = 0;
      var sold = 0;

      if (this.units.length > 0) {
        for (let i = 0; i < this.units.length; i++) {
          var cDep = this.units[i].status.name;

          if (cDep == "AVAILABLE") {
            available = available + 1;
          } else if (cDep == "SOLD") {
            sold = sold + 1;
          } else {
            reserved = reserved + 1;
          }
        }
      }
      cData = {
        available: available,
        sold: sold,
        reserved: reserved,
      };

      return cData;
    },

    sortedArray() {
      let s = this.filteredValue.toString();
      function compare(a, b) {
        if (a[s] < b[s]) return -1;
        if (a[s] > b[s]) return 1;
        return 0;
      }

      var verify = null;

      if (this.sortedUnits.length > 0) {
        verify = this.sortedUnits.sort(compare);
      } else if (
        this.specialSort[0].value == null &&
        this.specialSort[1].value == null &&
        this.specialSort[2].value == null
      ) {
        verify = this.units.sort(compare);
      } else {
        verify = this.sortedUnits.sort(compare);
        swal({
          text: "No hay unidades dentro del rango",
          icon: "warning",
          buttons: false,
          timer: 3000,
        });
      }

      return verify;
    },

    filterStages() {
      // Update filter data to use Watch
      this.priceFilter = this.specialSort[0].value;
      this.listFilter = this.specialSort[2].value;
      this.statusFilter = this.specialSort[1].value;
      this.parkingFilter = this.specialSort[3].value;
      this.levelFilter = this.specialSort[4].value;
      this.bedroomsFilter = this.specialSort[5].value;
      this.bathroomsFilter = this.specialSort[6].value;
      this.currencyFilter = this.specialSort[7].value;

      // Return every unit that belongs to the stage
      if (
        this.priceFilter === null &&
        this.listFilter === null &&
        this.statusFilter === null &&
        this.parkingFilter === null &&
        this.levelFilter === null &&
        this.bedroomsFilter === null &&
        this.bathroomsFilter === null &&
        this.currencyFilter === null
      ) {
        // sorty units to fix bug where if you changed the status of an unit it will push that unit to the end of
        // the array

        if (Array.isArray(this.unitsByStage)) {
          return this.unitsByStage;
        }
      } else {
        let selected = {};
        let selectedArray = [];

        this.specialSort.forEach((filter) => {
          if (filter.value) {
            selected[filter.id] = filter.value;
          }
        });

        let minFinal = 0;
        let maxFinal = 99999999;
        let minList = 0;
        let maxList = 99999999;

        if (selected.finalPrice) {
          minFinal = selected.finalPrice[0];
          maxFinal = selected.finalPrice[1];
          delete selected.finalPrice;
        }

        if (selected.listPrice) {
          minList = selected.listPrice[0];
          maxList = selected.listPrice[1];
          delete selected.listPrice;
        }

        for (let fil in selected) {
          if (fil === "listPrice" || fil === "finalPrice") continue;
          if (fil === "status") {
            selectedArray.push({ fil: "statusId", value: selected[fil] });
          } else {
            selectedArray.push({ fil, value: selected[fil] });
          }
        }

        return this.unitsByStage.filter(
          (unit) =>
            selectedArray.every(
              (filter) => unit[filter.fil] === filter.value
            ) &&
            unit.listPrice >= minList &&
            unit.listPrice <= maxList &&
            unit.finalPrice >= minFinal &&
            unit.finalPrice <= maxFinal
        );
      }
    },
  },
  watch: {
    currentAvailability(newVal) {
      this.$store.dispatch("units/setCurrentAvailability", newVal);
    },
    filterStages(newVal, oldVal) {
      if (newVal.length === this.unitsByStage.length) {
        this.filteredUnits = [];
      }

      if (this.loading == true) {
        return (this.loading = false);
      }
    },
  },
};
</script>

<style lang="scss">
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

.main-tables-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: none;
}

.table thead td,
.table thead th {
  border-width: 0px;
  color: white;
}

h2 {
  color: white;
}

.card-body {
  background: #ffffff;
  margin: 10px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.info-card {
  width: 100%;
}

.image-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-header {
  display: flex;
  background: white;
  margin: 0 auto;
  margin-top: 100px;
  border-bottom: 2px solid #fd4c9d;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-brand {
  display: flex;
  justify-content: flex-start;
}

#return {
  color: white;
  position: fixed;
  left: 20px;
  top: 80px;
  z-index: 30;
}

img {
  border-radius: 15%;
}

.animate {
  animation: fadeInAnimation 1s forwards;
}

.header-t {
  height: 50px;
  font-size: 0.8rem;
  text-align: center !important;
  vertical-align: middle !important;
  color: rgb(28, 99, 138);
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
}

button.waves-white {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid white;
  padding: 8px 18px;
  margin: 10px 1px;
  font-size: 14px;
  font-weight: 500;
  background: transparent;
  background-color: none;
  color: white;
}

button.waves-white.ripple {
  overflow: hidden;
  position: relative;
  transition: background-color 0.3s linear, border 0.3s linear;
}
button.waves-white.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(
    circle,
    #000000 10%,
    rgba(0, 0, 0, 0) 10.01%
  );
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}
button.waves-white.ripple:active:after {
  transform: scale(0);
  opacity: 0.2;
  transition: 0s;
}

.loading {
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background: #ffff;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

#toReferences {
  margin-bottom: 15px;
}

#printMe .row {
  margin-left: 0;
  margin-right: 0;
}

button.btn.waves-white.ripple#createContract {
  border-radius: 0px 5px 5px 0px;
}

.img-header {
  margin-bottom: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 512px) {
  .mobile-width {
    width: 30%;
  }
}

@media screen and (max-width: 867px) {
  .navbar-brand {
    justify-content: center;
  }

  div.title-header img.img-header {
    width: 100% !important;
  }

  .btn-group {
    display: flex;
    flex-direction: column;
  }
  .navbar-container {
    text-align: center;
  }

  #newContract,
  #sendtopdf,
  #tosheet,
  #toReferences,
  button.btn.waves-white.ripple#createContract {
    border-radius: 5px;
    width: 150px;
  }

  #newContract {
    padding-left: 8px;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
</style>
