<template>
  <div class="login-wrapper row" style="display: flex; align-items: center">
    <div class="wrapper-page container fadeEntry" id="main-cards">
      <div class="row main">
        <div class="card col-md-5 col-xl-4 col-sm-12" id="login-exec">
          <div class="card-body">
            <h3 class="text-center" style="margin-bottom: 36px">
              <a href="index.html" class="logo">
                <img src="../assets/logo.png" alt="logo-img" width="150px" />
              </a>
            </h3>
            <h5 style="text-align: center; font-size: 1rem">Bienvenido.</h5>
            <form
              class="form-horizontal m-t-20"
              id="login_form"
              @submit.prevent="submitForm($event)"
            >
              <div class="form-group inputs">
                <div class="col-12">
                  <input
                    v-model="email"
                    class="form-control"
                    type="text"
                    required
                    name="email"
                    placeholder="Email"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="col-12">
                  <input
                    v-model="password"
                    class="form-control"
                    type="password"
                    required
                    name="password"
                    placeholder="Password"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="col-12">
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck2"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group text-center m-t-40">
                <div class="col-12">
                  <button
                    type="input"
                    class="btn btn-block btn-lg waves-effect waves-light button-mobile"
                    style="font-size: 1rem"
                    @click="submitForm($event)"
                  >
                    {{ logMessage }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      logMessage: "INICIAR SESIÓN",
      email: "",
      password: "",
    };
  },
  mounted: function () {
    this.$store.commit("resetState");
  },
  methods: {
    submitForm(e) {
      e.preventDefault();
      document.body.style.cursor = "wait";
      this.logMessage = "INICIANDO...";

      fetch("/authentication", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          strategy: "local",
          email: this.email,
          password: this.password,
        }),
      })
        .then((response) => response.json())
        .then(() => {
          document.body.style.cursor = "auto";
          window.location.replace("/");
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>


<style lang="scss">
@import "~bulma/css/bulma.css";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html,
body {
  height: 100%;
}

/*Color background*/
:root {
  --fondo: #ffff;
}

.custom-control-label:after,
.custom-control-label:before {
  background: var(--fondo);
  border: 1px solid #687c94;
  border-radius: 2px;
}

.button-option {
  margin: 30px 0 30px 0;
}

.login-wrapper {
  min-height: 100%;
  background: url("../assets/background.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(224, 224, 224, 0.678);
  font-family: Montserrat, sans-serif;
}

.button-mobile {
  width: 180px;
  margin: 0 auto;
}

.card {
  background: var(--fondo);
  border: none;
}

h5 {
  color: #095680;
}

.main {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.text-white {
  font-size: 0.7rem;
}

.form-group a:hover {
  color: rgb(190, 190, 190) !important;
  text-decoration: none;
  transition: 0.6s;
}

.form-group a {
  transition: 0.6s;
}

.wrapper-page {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-card {
  padding: 20px;
  box-sizing: content-box;
}

h5 {
  font-weight: lighter;
  margin: 20px 10px;
}

.form-control {
  background: var(--fondo);
  border: 2px solid #eff0f2;
  color: #095680;
  border-radius: 0;
}

@keyframes autofill {
  to {
    color: white;
    background: var(--fondo);
  }
}

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

::placeholder {
  color: #095680;
}

.swal-button {
  background: #1f262c;
  color: white;
}

#main-select .card-body h5,
#main-select .card-body button {
  font-size: 1rem;
}

.table td {
  padding: 0;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 1.1s ease-out both;
  animation: slide-in-bottom 1.1s ease-out both;
}

.slide-out-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    reverse both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse
    both;
}

.fade-out {
  -webkit-animation: fade-in 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) reverse
    both;
  animation: fade-in 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) reverse both;
}

.btn.btn-block.btn-lg.waves-effect.waves-light.button-mobile {
  border-radius: 0;
  border-top: 3px solid #fd157f;
  background: none;
}

.note-user {
  color: #fff;
  background: var(--fondo);
  position: fixed;
  bottom: 10px;
  left: 10px;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeEntry {
  animation: fadeInEntry 0.5s forwards;
}

@keyframes fadeInEntry {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1500px;
  }
}

@media (max-width: 768px) {
  .right-card {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  #main-select,
  #login-exec,
  #login-cli {
    max-width: 350px;
  }

  body {
    overflow: hidden;
  }
}
</style>
