<template>
  <div class="control-panel container-fluid animate">
    <div v-if="openConfigModal" class="configuration-modal-wrapper">
      <div class="configuration-modal card-body card control-panel-card">
        <span
          style="font-size: 3rem;position: absolute;right: 19px;top: -5px;cursor:pointer;"
          @click="closeConfigModal()"
        >×</span>
        <h3>Configuración</h3>
        <p>
          <b>Cambiar contraseña</b>
        </p>
        <p>Nueva contraseña</p>
        <input v-model="newPassword" type="password" />
        <p>Repetir contraseña</p>
        <input v-model="newPassword2" type="password" />
        <p>
          <span
            style="font-size: 10px;color: red;"
            v-if="newPassword !== '' && newPassword2 !== '' && newPassword !== newPassword2"
          >Contraseñas no coinciden</span>
        </p>
        <p>
          <span
            style="font-size: 10px;color: red;"
            v-if="newPassword !== '' && newPassword.length < 6 || newPassword.length > 12"
          >La contraseña debe de ser de 6-12 carácteres</span>
        </p>
        <div class="buttons padding-15">
          <button
            type="reset"
            class="button is-light button-width"
            @click="closeConfigModal()"
          >Cancelar</button>
          <button
            type="submit"
            class="button is-success button-width"
            @click="updateCustomer()"
          >Enviar</button>
        </div>
      </div>
    </div>
    <h2 style="margin-top:70px;text-align:center;font-weight:100;">
      <b>{{ currentUser.name }}</b> Control Panel
    </h2>
    <div
      class="row"
      style="display: flex;align-items: center;justify-content: space-evenly;height:100%;"
    >
      <div class="card-body card control-panel-card col-12 col-sm-12 col-md-4">
        <h4 class="card-title-panel">
          <i class="fas fa-home" style="margin-right: 30px;"></i>UNIDADES
        </h4>
        <table style="width:100%;">
          <thead>
            <tr style="height:100px;background:none;">
              <th>Unit</th>
              <th>
                <select
                  id="dropdown-unit-user"
                  name="drop-unit"
                  class="unit-selector"
                  @change="unitDetails($event)"
                  :text="this.selectedUnit === null ? 'Seleccione unidad' : this.selectedUnit.unitNumber"
                >
                  <option>Seleccione unidad</option>
                  <option
                    :value="unit.id"
                    v-for="(unit, index) in unitsByUser"
                    :key="index"
                  >{{ unit.unitNumber !== null ? unit.cluster.abb + ' ' + unit.unit : '-' }}</option>
                </select>
              </th>
            </tr>
          </thead>
        </table>
        <div class="scrollbar-edit" style="max-height: 71%;overflow-y: scroll;">
          <table class="table-borderless">
            <tbody v-if="selectedUnit">
              <tr>
                <td class="textalign">Precio de Lista</td>
                <td
                  class="text-right"
                >{{ selectedUnit[0] ? toPrice(selectedUnit[0].listPrice) : '' }}</td>
              </tr>
              <tr>
                <td class="textalign">Descuento</td>
                <td class="text-right">{{ selectedUnit[0] ? selectedUnit[0].discount + '%' : '' }}</td>
              </tr>
              <tr>
                <td class="textalign">Precio Final</td>
                <td
                  class="text-right"
                >{{ selectedUnit[0] ? toPrice(selectedUnit[0].finalPrice) : '' }}</td>
              </tr>
              <tr>
                <td class="textalign">Divisa</td>
                <td
                  class="text-right"
                >{{selectedUnit[0].currency !== null ? selectedUnit[0].currency : 'N/A'}}</td>
              </tr>
              <tr>
                <td class="textalign">Tipo De Cambio</td>
                <td
                  class="text-right"
                >{{ selectedUnit[0].currency ==='USD' ? selectedUnit[0] ? selectedUnit[0].exchangeRate.toFixed(2) + ' MXN' : 'N/A' : 'N/A'}}</td>
              </tr>
              <tr>
                <td class="textalign">Nivel</td>
                <td class="text-right">{{ selectedUnit[0] ? selectedUnit[0].level : '' }}</td>
              </tr>
              <tr>
                <td class="textalign">Recamaras</td>
                <td class="text-right">{{ selectedUnit[0] ? selectedUnit[0].bedrooms : '' }}</td>
              </tr>
              <tr>
                <td class="textalign">Baños</td>
                <td class="text-right">{{ selectedUnit[0] ? selectedUnit[0].bathrooms : '' }}</td>
              </tr>
              <tr>
                <td class="textalign">Estacionamiento</td>
                <td class="text-right">{{ selectedUnit[0] ? selectedUnit[0].parking : '' }}</td>
              </tr>
              <tr>
                <td class="textalign">
                  Total Area M
                  <sup>2</sup>
                </td>
                <td class="text-right">{{ selectedUnit[0] ? selectedUnit[0].totalM2 : ''}}</td>
              </tr>
              <tr>
                <td class="textalign">Total Area SQFT</td>
                <td class="text-right">{{ selectedUnit[0] ? selectedUnit[0].totalSQFT : ''}}</td>
              </tr>
              <tr>
                <td class="textalign">Tipo De Cambio</td>
                <td class="text-right">{{ selectedUnit[0] ? selectedUnit[0].exchangeRate : ''}}</td>
              </tr>
              <tr>
                <td class="textalign">Estatus</td>
                <td class="text-right">{{selectedUnit[0].status.name}}</td>
              </tr>
              <!-- <tr>
                <td class="textalign">Cliente</td>
                <td
                  class="text-right"
                  style="max-width: 100px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"
                >
                  <span
                    v-if="this.selectedUnit[0].customer"
                    :title="selectedUnit[0].customer.lastName != null ? selectedUnit[0].customer.name + ' ' + selectedUnit[0].customer.lastName : selectedUnit[0].customer.name"
                  >{{ selectedUnit[0].customer.lastName != null ? selectedUnit[0].customer.name + ' ' + selectedUnit[0].customer.lastName : selectedUnit[0].customer.name }}</span>
                </td>
              </tr>-->
              <tr>
                <td class="textalign">
                  Balcón M
                  <sup>2</sup>
                </td>
                <td class="text-right">{{ selectedUnit[0].balconyM2 }}</td>
              </tr>
              <tr>
                <td class="textalign">Balcón SQFT</td>
                <td class="text-right">{{ (selectedUnit[0].balconyM2 * 10.7639).toFixed(2) }}</td>
              </tr>
              <tr style="cursor:pointer;">
                <td class="textalign">Ejecutivo</td>
                <td
                  class="text-right"
                >{{ selectedUnit[0].user ? selectedUnit[0].user.name : 'N/A' }}</td>
              </tr>
              <tr>
                <td class="textalign">Plan de Pago</td>
                <td
                  class="text-right"
                >{{ this.unitContract ? this.unitContract.paymentPlan !== null ? this.unitContract.paymentPlan : 'Sin plan de pago' : 'Sin plan de pago' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-body card control-panel-card col-12 col-sm-12 col-md-4">
        <h4 class="card-title-panel">
          <i class="fas fa-info" style="margin-right: 30px;"></i>DOCUMENTOS
        </h4>
        <table class="table-borderless">
          <tbody>
            <tr :class="showDocument('Identificacion')">
              <td class="text-left">identificación</td>
              <td style="cursor:pointer">
                <a v-bind:href="urls['Identificacion']" target="_blank">
                  <i
                    v-if="showDocument('Identificacion') === 'doc-available'"
                    class="fas fa-download"
                  ></i>
                </a>
              </td>
            </tr>

            <tr :class="showDocument('Comprobante de domicilio')">
              <td class="text-left">Comprobante de domicilio</td>
              <td style="cursor:pointer">
                <a v-bind:href="urls['Comprobante de domicilio']" target="_blank">
                  <i
                    v-if="showDocument('Comprobante de domicilio') === 'doc-available'"
                    class="fas fa-download"
                  ></i>
                </a>
              </td>
            </tr>
            <tr :class="showDocument('Contrato De Venta')">
              <td class="text-left">Contrato de Venta</td>
              <td style="cursor:pointer">
                <a v-bind:href="urls['Contrato De Venta']" target="_blank">
                  <i
                    v-if="showDocument('Contrato De Venta') === 'doc-available'"
                    class="fas fa-download"
                  ></i>
                </a>
              </td>
            </tr>
            <tr :class="showDocument('Contrato Final')">
              <td class="text-left">Contrato Final</td>
              <td style="cursor:pointer">
                <a v-bind:href="urls['Contrato Final']" target="_blank">
                  <i
                    v-if="showDocument('Contrato Final') === 'doc-available'"
                    class="fas fa-download"
                  ></i>
                </a>
              </td>
            </tr>
            <tr class="document-row" v-if="selectedUnit && selectedUnit[0].clusterId === 2">
              <td class="textalign" title="Planos">Planta arquitectónica</td>
              <td width="10%">
                <a :href="getFloorplan()" target="_blank">
                  <label style="cursor:pointer" class="doc-button">
                    <i class="fas fa-external-link-alt"></i>
                  </label>
                </a>
              </td>
            </tr>
            <tr v-if="selectedUnit != undefined">
              <td
                @click="showProgress(selectedUnit[0].clusterId)"
                style="text-decoration:underline;cursor:pointer"
              >
                <i class="fas fa-tasks"></i> Ver progreso de obra
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-body card control-panel-card col-12 col-sm-12 col-md-4 payments-card">
        <h4 class="card-title-panel">
          <i class="fas fa-search" style="margin-right: 30px;"></i>PAGOS
        </h4>
        <h5 style="text-align:center;" v-if="selectedUnit === null">Seleccione unidad</h5>
        <h5 style="text-align:center;" v-else>Unit {{ selectedUnit[0].unitNumber }}</h5>
        <table class="table-borderless" v-if="selectedUnit !== null">
          <tbody>
            <tr
              v-for="(payment, index) in (paymentsByUnit !== null && selectedUnit !== null ? paymentsByUnit : 12)"
              :key="payment.id"
              @click="showPayment(payment)"
              class="hover-row"
            >
              <td class="textalign">{{ index + 1 }}</td>
              <td class="text-center" style="font-size: 14px;">
                <span>{{ payment.paymentAmount ? '$' + formatAmount(payment.paymentAmount) + ` ${payment.currency}` : '' }}</span>
              </td>
              <!-- Amount & Currency -->
              <!--<td class="text-center" style="font-size: 14px; font-weight: 600;"><span>{{ payment.paymentType ? payment.paymentType : '' }}</span></td> Payment Type -->
              <td v-if="paymentsByUnit !== null" class="text-center">
                <span
                  v-bind:style="{color: selectedContract ? selectedContract.payments : 'white'}"
                >{{ paymentsByUnit ? payment.dueDate : '-' }}</span>
              </td>
              <td v-if="paymentsByUnit !== null" class="text-center">
                <span
                  :class="payment.statusId === 4 ? 'status-not-paid' : 'status-paid'"
                >{{ paymentsByUnit !== null ? setPaymentStatus(payment.statusId) : '' }}</span>
              </td>
              <td>
                <!-- <a :href="payment.url" v-if="payment.url !== null" target="_blank">
                    <i class="fas fa-download"></i>
                </a>-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="wrapper-progress" v-if="progressModal">
      <div style="height:30px;width:100%;"></div>
      <div class="upgrade-progress">
        <p
          style="top: 8px;position: absolute;text-align: center;color: rgb(255, 255, 255);font-size: 35px;cursor: pointer;"
          @click="closeModal()"
        >×</p>
        <h4 style="text-align:center;">{{selectedUnit[0].cluster.name}}</h4>
        <div style="text-align:center;" v-if="orderedUpdates ? orderedUpdates.length != 0 : null">
          <img :src="current.url" class="img-update" @click="openView(current.url)" />
          <p
            style="position: absolute;left: 0px;right: 0px;bottom: 148px;max-width: 90%;margin: 0px auto;font-size: 14px;"
          >{{current.comment ? current.comment : 'Sin comentarios'}}</p>
        </div>
        <div
          v-else
          style="text-align:center;color:#ffffff4a"
        >Sin actualizaciones para {{selectedUnit[0].cluster.name}}</div>
        <div class="timeline">
          <i @click="changePage(1)" class="fas fa-chevron-left"></i>
          <div class="imgs-wrapper">
            <div
              class="img-wrapper"
              v-for="(img, index) in orderedUpdates[orderedUpdates.length - currentPage]"
              :key="index"
            >
              <div>
                <img
                  :src="img. url"
                  @click="current = img"
                  style="width: auto;max-width: 100%;cursor:pointer;max-height:80px;"
                />
              </div>
              <p>{{dateFormat(img.updatedAt)}}</p>
            </div>
          </div>
          <i @click="changePage(-1)" class="fas fa-chevron-right"></i>
        </div>
      </div>
    </div>
    <div class="full-image" v-if="fullImage" @click="fullImage = null">
      <p style="height:60px,width:100%"></p>
      <div
        style="overflow:auto;text-align: center;height: 100%;display: flex;align-items: center;justify-content: center;"
      >
        <img :src="fullImage" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
const bcrypt = require("bcryptjs");
const salt = bcrypt.genSaltSync(10);

export default {
  mounted: function() {
    this.$eventHub.$on("open_user_configuration", () => {
      this.openConfigModal = true;
    });
  },
  data() {
    return {
      urls: {},
      selectedUnit: null,
      selectedContract: null,
      progressModal: false,
      updates: [],
      current: {},
      currentPage: 1,
      fullImage: null,
      openConfigModal: false,
      newPassword: "",
      newPassword2: "",
      currentPassword: ""
    };
  },
  methods: {
    updateCustomer() {
      if (
        this.newPassword.length < 6 ||
        this.newPassword.length > 12 ||
        this.newPassword !== this.newPassword2
      )
        return;

      swal({
        title: `¿Esta seguro que desea continuar?`,
        text: `Su contraseña sera cambiada permanentemente.`,
        icon: "info",
        buttons: {
          continue: { text: "continuar" },
          cancel: { visible: true, text: "cancelar" }
        }
      }).then(res => {
        if (res) {
          let update = {
            id: this.currentUser.id,
            password: bcrypt.hashSync(this.newPassword, salt)
          };
          this.$store
            .dispatch("users/updatePassword", update)
            .then(res => {
              if (res) {
                this.openConfigModal = false;
                this.newPassword = this.newPassword2 = "";
                swal({
                  title: `¡Éxito!`,
                  text: `Su contraseña ha sido modificada`,
                  icon: "info",
                  buttons: {
                    continue: { text: "continuar" }
                  }
                });
              }
            })
            .catch(err => console.log(err));
        }
      });
    },
    closeConfigModal() {
      this.openConfigModal = !this.openConfigModal;
      this.newPassword = this.newPassword2 = "";
    },
    getFloorplan() {
      let type = this.selectedUnit[0].unit.substring(0, 1).toLowerCase();
      return `https://homia-web.s3.us-east-2.amazonaws.com/plantas/carmelinas_${type}.pdf`;
    },
    openView(url) {
      this.fullImage = url;
    },
    changePage(page) {
      if (
        (this.currentPage === this.orderedUpdates.length && page === 1) ||
        (this.currentPage === 1 && page === -1)
      )
        return;
      this.currentPage += page;
    },
    dateFormat(d) {
      let day = d.slice(8, 10);
      let month = d.slice(5, 7);
      let year = d.slice(0, 4);
      return `${day}/${month}/${year}`;
    },
    closeModal() {
      this.current = {};
      this.progressModal = false;
      this.$eventHub.$emit("modal-bar", this.progressModal);
    },
    showProgress(id) {
      this.currentPage = 1;
      this.progressModal = true;
      this.$eventHub.$emit("modal-bar", this.progressModal);

      this.$store
        .dispatch("others/getClusterProgress", id)
        .then(res => {
          this.updates = res.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    showDocument(doc) {
      if (this.attachmentsByUnit) {
        if (this.attachmentsByUnit.data) {
          for (let i = this.attachmentsByUnit.data.length - 1; i >= 0; i--) {
            if (this.attachmentsByUnit.data[i].docType === doc) {
              this.urls[doc] = this.attachmentsByUnit.data[i].url;
              return "doc-available";
            }
          }
        }
      }
    },
    unitDetails(evt) {
      if (evt.target.value != "Seleccione unidad") {
        const selectedUnitId = parseInt(evt.target.value);

        const selectedUnit = this.unitsByUser.filter(
          unit => unit.id == selectedUnitId
        );

        this.selectedUnit = selectedUnit;

        this.$store.dispatch("commissions/getPaymentsByUnit", selectedUnitId);
      }
    },
    formatAmount: function(amount) {
      if (amount === undefined || amount === null) {
        return;
      }

      return amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,");
    },

    showPayment(payment) {
      // Validate if paymentsByUnit is not null
      if (
        payment === null ||
        payment === undefined ||
        typeof payment === "number"
      ) {
        return;
      }

      // Show payment details in modal
      swal({
        title: `Payment Details`,
        text: `Due Date: ${payment.dueDate}\n
               Payment #${payment.paymentNo}\n
               Status: ${this.setPaymentStatus(payment.statusId)}`,
        icon: "info"
      }).then(() => {
        swal.close();
      });
    },

    setPaymentStatus: function(statusId) {
      switch (statusId) {
        case 4:
          return "Not Paid";
          break;

        case 5:
          return "Paid";
          break;

        default:
          return "-";
          break;
      }
    },

    toPrice(x) {
      if (x === null) {
        return;
      }
      let r = Math.round(x.toFixed(2));
      let price = r.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,");
      return price;
    }
  },
  computed: {
    orderedUpdates() {
      this.pages = Math.ceil((this.updates.length + 1) / 10);

      function chunk(arr, chunkSize) {
        var R = [];
        for (var i = 0, len = arr.length; i < len; i += chunkSize)
          R.push(arr.slice(i, i + chunkSize));
        return R;
      }

      let paginatedData = chunk(this.updates, 3);

      let lastArray = paginatedData[paginatedData.length - 1];

      if (lastArray) {
        this.current = lastArray[lastArray.length - 1];
      }
      return paginatedData;
    },
    ...mapGetters({
      currentUser: "users/currentUser",
      unitsByUser: "departments/unitsByUser",
      // contractsByClient: "contracts/getContractsByClient",
      paymentsByUnit: "commissions/paymentsByUnit",
      unitContract: "contracts/unitContract",
      attachmentsByUnit: "attachments/attachmentsByUnit"
    }),
    getContracts() {
      if (this.attachmentsByUnit) {
        if (this.attachmentsByUnit.data) {
          let contracts = Array.from(this.attachmentsByUnit.data);
          contracts = contracts
            .filter(con => con.docType === "Contract")
            .sort(function(a, b) {
              if (a.createdAt > b.createdAt) {
                return -1;
              }
              if (a.createdAt < b.createdAt) {
                return 1;
              }
            });
          return contracts;
        }
      }

      return null;
    },
    getColor() {
      if (this.selectedUnit[0] && this.selectedUnit[0].status.color_hex) {
        return this.selectedUnit[0].status.color_hex;
      } else {
        return "#ffffff";
      }
    }
  },
  watch: {
    currentUser(newV, oldV) {
      this.$store.dispatch("units/fetchUnitsByUser", this.currentUser.id);
      // this.$store.dispatch("contracts/fetchContractByUser", this.currentUser.id);
    },
    selectedUnit(newV, oldV) {
      this.$store.dispatch(
        "attachments/getAttachmentsByUnit",
        this.selectedUnit[0].id
      );
      this.$store.dispatch(
        "contracts/getUnitContract",
        this.selectedUnit[0].id
      );
    }
  }
};
</script>

<style lang="scss">
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

@keyframes autofill {
  to {
    color: white;
    background: #3f4c5c;
  }
}

.input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

#dropdown-unit-user__BV_toggle_ {
  border-radius: 5px;
}

.unit-selector {
  background: #14304a;
  border: none;
  border-radius: 6px;
  padding: 5px;
  color: white;
  outline: none;
}

.card-body {
  height: 500px;
  width: 100%;
}

.control-panel-card {
  width: 100%;
  max-width: 400px;
  display: initial !important;
}
.dropdown > a,
.dropdown > button {
  font-size: 14px;
  background-color: #fff;
  border: none;
  padding: 10px;
  border-radius: 0 4px 4px 0;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: #252d33;
}

.dropdown ul {
  position: absolute;
  top: 36px;
  border: 1px solid #ccc;
  border-radius: 3px;
  left: 0;
  list-style: none;
  padding: 4px 0;
  display: none;
  color: #fff;
  background: #252d33;
  border: 1px solid #252d33;
  z-index: 1;
}

.dropdown ul li a {
  color: #fff;
  border-bottom: 1px solid #4a5869;
  text-align: center;
}

.table-borderless {
  width: 100%;
}

.table-borderless tr {
  height: 33px;
}

.table-borderless tr th:nth-child(odd) {
  text-align: left;
  font-weight: lighter;
}

.table-borderless tr:nth-child(odd) {
  background: #36587a;
}

.table-borderless tr th:nth-child(even) {
  font-weight: lighter;
  text-align: right;
}

.table-borderless tbody.unit-table tr th:nth-child(odd) {
  font-weight: bolder;
}

.card-title-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-panel {
  height: 88vh;
  color: white;
}

.control-panel-card {
  background: #2b4969;
}

.animate {
  animation: fadeInAnimation 1s forwards;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: white;
  text-decoration: none;
  background-color: #f8f9fa26;
}

/* Status Labels */
.status-paid {
  background: #41ff6538;
  border-radius: 6px;
  color: #86ff6b;
  font-size: 12px;
  font-weight: 600;
  padding: 4px;
}

.status-not-paid {
  background: #fa5e5e38;
  border-radius: 6px;
  color: #ffa2a2;
  font-size: 12px;
  font-weight: 600;
  padding: 4px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1199px) {
  .control-panel-card {
    margin-top: 30px;
  }
}

/* Scrollbar */

.scrollbar-edit {
  min-height: 120px;
}

.scrollbar-edit::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scrollbar-edit::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.scrollbar-edit::-webkit-scrollbar-thumb {
  background: #ebeff2;
  border-radius: 10px;
}

/* Handle on hover */
.scrollbar-edit::-webkit-scrollbar-thumb:hover {
  background: #ebeff2;
}

.wrapper-progress {
  background: #00000091;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.upgrade-progress {
  background: #2b4969;
  border-radius: 5px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  min-height: 470px;
}

.timeline {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #365879;
}

.timeline p {
  font-size: 12px;
}

.full-image {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #091520d1;
  overflow: hidden;
}

.full-image div {
  max-width: 90%;
  height: auto;
  margin: 0 auto;
}

.full-image div img {
  max-width: 100%;
  max-height: 80%;
}

.timeline i {
  font-size: 1.6rem;
  cursor: pointer;
}

.timeline p {
  text-align: center;
  margin: 0;
}

.imgs-wrapper {
  display: flex;
}

.img-wrapper div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
}

.img-update {
  max-width: 400px;
  max-height: 200px;
  cursor: pointer;
}

.configuration-modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  background: #14304a;
  justify-content: center;
}

.configuration-modal-wrapper .card-body {
  height: 350px;
}

.configuration-modal {
  background: #2b4969;
  position: relative;
}

.configuration-modal h3 {
  text-align: center;
}

.configuration-modal input {
  border: 1px solid #14304a;
  background-color: #14304a;
  color: #fff;
  border-radius: 5px;
}

.configuration-modal p {
  margin-bottom: 0;
  margin-top: 1rem;
}

.button {
  padding: 5px;
  border-radius: 5px;
}

.padding-15 {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.button.is-success {
  background-color: #23d160;
  border-color: transparent;
  color: #fff;
}

.button.is-light {
  background-color: whitesmoke;
  border-color: transparent;
  color: #363636;
}
@media screen and (max-width: 512px) {
  .timeline {
    flex-direction: column;
    bottom: -26px;
  }

  .imgs-wrapper {
    flex-direction: row;
  }

  .img-wrapper div {
    width: 110px;
  }

  .upgrade-progress {
    min-height: 521px;
  }
}

@media screen and (max-height: 530px) {
  .upgrade-progress {
    margin-top: 120px;
  }
}
</style>
