<!DOCTYPE html>
html
  head
    block customhead
    <meta name="viewport" content="width=device-width, initial-scale=1">
    link(rel="stylesheet",type="text/css",href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous")
    link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap' rel='stylesheet')
  body
    // Google Tag Manager (noscript)
    block content
    block scripts
    script(src="/static/assets/burgerToggle.js")
