<!DOCTYPE html>
html
  head
    block customhead
    <meta name="viewport" content="width=device-width, initial-scale=1">
    script(src="https://use.fontawesome.com/releases/v5.0.0/js/all.js")
  body
    div#app-login
    script(src=bundlePath)
