
table {
  margin:auto;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
  max-width: 100%;
  width: fit-content;
 }
 thead,tbody {
  min-width: 100%;
 }

 td, th {
   border: solid rgb(200, 200, 200) 1px;
   padding: .5rem;
 }

 th {
   text-align: left;
  //  background-color: rgb(190, 220, 250);
   text-transform: uppercase;
   padding-top: 1rem;
   padding-bottom: 1rem;
   border-top: none;
 }

 td {
   white-space: nowrap;
   border-bottom: none;
   color: rgb(20, 20, 20);
 }

//  td:first-of-type, th:first-of-type {
//    border-left: none;
//  }

//  td:last-of-type, th:last-of-type {
//    border-right: none;
//  }

 .big-text{
   width: 300px;
 }
 .small-text{
   width: 100px;
 }
 .medium-text{
   width: 150px;
 }
